* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: yellow;
  color: blue;
}

div {
  background-color: yellow;
  margin: 10px;
}

.block {
  color: brown;
}

.root section {
  background: purple;
}
div:hover {
  background: blue;
  cursor: pointer;
}

[title] {
  margin: 25px;
}
